.input {
}

.input label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.input input[type="color"] {
  padding: 16px !important;
  height: 76px;
}

.input input {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  border: none;
  font-size: 24px;
  padding: 24px;
  box-sizing: border-box;
}
